--- 
title: Sadman Sakib
url: /
---
<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body id="top" data-spy="scroll" data-offset="70" data-target="#navbar-main">
    <aside class="search-results" id="search">
        <div class="container">
            <section class="search-header">
                <div class="row no-gutters justify-content-between mb-3">
                    <div class="col-6">
                        <h1>Search</h1>
                    </div>
                    <div class="col-6 col-search-close">
                        <a class="js-search" href="#"><i class="fas fa-times-circle text-muted" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div id="search-box">
                </div>
            </section>
            <section class="section-search-results">
                <div id="search-hits">
                </div>
            </section>
        </div>
    </aside>
    {% include navigation.html %}
    <span class="js-widget-page d-none"></span>
    <section id="about" class="home-section wg-about   ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div id="profile">
                        <img class="avatar avatar-circle" src="/admin/avatar_sadman.jpg" alt="Avatar">
                        <div class="portrait-title">
                            <h2>Sadman Sakib</h2>
                            <h3>Graduate Student in Computer Sciences</h3>
                            <h3>
                                <a href="https://www.wisc.edu/" target="_blank" rel="noopener">
                                    <span>University of Wisconsin-Madison</span>
                                </a>
                            </h3>
                        </div>
                        <ul class="network-icon" aria-hidden="true">
                            <li>
                                <a href="mailto:sadmankiba@cs.wisc.edu">
                                    <i class="fas fa-envelope big-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://scholar.google.com/citations?user=vrt0ghkAAAAJ" target="_blank" rel="noopener">
                                    <i class="ai ai-google-scholar big-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/sadmankiba" target="_blank" rel="noopener">
                                    <i class="fab fa-linkedin big-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/sadmankiba" target="_blank" rel="noopener">
                                    <i class="fab fa-twitter big-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/sadmankiba/" target="_blank" rel="noopener">
                                    <i class="fab fa-github big-icon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <!-- <p> I am enthusiastic about ... and my interest lies broadly in:</p>
                    <blockquote>
                        <ul>
                            <li>
                                <p style="font-variant:small-caps"><b>...</b></p>
                            </li>
                            <li>
                                <p style="font-variant:small-caps"><b></b>...</p>
                            </li>
                        </ul>
                    </blockquote> -->
                    <p>Hi! I am Sadman. I am a second-year graduate student at the Department of Computer Sciences in UW-Madison. My focus is in the area of systems and networking. 
                        In last summer, I completed internship at <a href="https://www.hpe.com/us/en/compute/hpc/slingshot-interconnect.html">HPE Slingshot Interconnect</a> where I worked on device drivers for HPC networking. In UW-Madison, I have worked with <a href="https://pages.cs.wisc.edu/~mgliu/">Prof. Ming Liu</a> on programmable networking for disaggregated storage. </p> 
                    <p>Before coming to UW-Madison, I obtained my undergraduate major in Computer Science from Bangladesh University of Engineering and Technology. 
                        During my undergraduate, I worked on three research projects in the areas of edge computing, IoT and deep learning.</p>
                    <p> I enjoy outdoor activities (e.g. walking, jogging, sports, travelling), reading non-fiction, and listening to music. </p>
                    
                    <div class="row">
                        <div class="col-md-5">
                            <h3>Interests</h3>
                            <ul class="ul-interests">
                                <li style="text-align: left;">Networking</li>
                                <li style="text-align: left;">Systems</li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <h3>Education</h3>
                            <ul class="ul-edu fa-ul">
                                <li>
                                    <i class="fa-li fas fa-graduation-cap"></i>
                                    <div class="description">
                                        <p class="course">Master of Science in Computer Sciences (2022 - 2024)</p>
                                        <p class="institution">University of Wisconsin-Madison</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa-li fas fa-graduation-cap"></i>
                                    <div class="description">
                                        <p class="course">Bachelor of Science in Computer Science (2017 - 2022)</p>
                                        <p class="institution">Bangaldesh University of Engineering and Technology</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <h3>Recent News</h3>
                            <ul>
                                <li>
                                    <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a> has been accepted to IEEE Access!
                                </li>
                                <li>
                                    <a href="files/edge_fog_accepted.pdf">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a> has been accepted to IEEE ICC 2022!
                                </li>
                            </ul>
                        </div>

                    </div> -->
                    </br>
                    </br>
                    </br>
                </div>
            </div>
        </div>
    </section>
    <section id="experience" class="home-section wg-pages">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 section-heading">
                    <h1>Experience</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-simple">
                        <h3 class="article-title mb-1 mt-3">
                            <a href="">Linux Drivers for HPC Networking</a>
                        </h3>
                        <div class="article-metadata">
                            <span class="article-date">
                                May, 2023 - Aug, 2023
                            </span>
                            <span class="middot-divider"></span>
                            <span class="pub-publication">  
                            </span>
                        </div>
                        <div class="article-style">
                            <p> HPE Slingshot Interconnect brings HPC features to standard Ethernet for high-performance networking in supercomputers and HPC clusters. HPE Slingshot works in combination with Rosetta switch and Cassini NIC, and contains many interesting features such as adaptive routing and congestion control. I am working on adding new features in the kernel driver for next versions of Slingshot protocol. </p>
                        </div>
                    </div>
                    <div class="card-simple">
                        <h3 class="article-title mb-1 mt-3">
                            <a href="">Programmable Networking for Disaggregated Storage</a>
                        </h3>
                        <div class="article-metadata">
                            <span class="article-date">
                                Jun, 2022 - May, 2023
                            </span>
                            <span class="middot-divider"></span>
                            <span class="pub-publication">  
                            </span>
                        </div>
                        <div class="article-style">
                            <p>Disaggregated storage is an emerging data-center storage that allows compute resources to be separated from storage resources. 
                                Technologies like NVMe-oF and 10-100Gb Ethernet are closing the gap between direct-attached storage and disaggregated storage. 
                                This trend raises questions such as how we can utilize networking resources effectively for such storage. 
                                I worked towards using network programmability to improve disaggregated storage applications.</p>
                        </div>
                    </div>
                    <div class="card-simple">
                        <h3 class="article-title mb-1 mt-3">
                            <a href="">Predicting Sequence Features of DNA Bendability and Chromosome Conformation with Deep Learning</a>
                        </h3>
                        <div class="article-metadata">
                            <!-- <div>
                                <span><strong>Sadman Sakib</strong></span>, <span><a href="https://www.bcm.edu/people-search/md-abul-hassan-samee-29998" style="color:inherit"><u>Dr. Md Abul Hassan Samee</u></a></span>, <span><a href="https://msrahman.buet.ac.bd/" style="color:inherit"><u>Dr. M. Sohel Rahman</u></a></span>, <span>Samin Rahman Khan</span>
                            </div> -->
                            <span class="article-date">
                                Mar, 2021 - May, 2022
                            </span>
                            <span class="middot-divider"></span>
                            <span class="pub-publication">  
                            </span>
                        </div>
                        <div class="article-style">
                            <p>The mechanical properties of genomic DNA, such as its bendability, play a
                                strong role in its function and structure. We hypothesized that deep learning
                                models trained on DNA bendability datasets could improve the models’ quality of fit and
                                reveal the sequence signatures underlying DNA bendability. To pursue this hypothesis, we fitted interpretable convolutional neural networks
                                on recent DNA bendability datasets. Using feature attribution analysis, we computed the
                                sequence signatures (motifs) associated with increased or decreased DNA bendability.</p>
                        </div>
                        <div class="btn-links">
                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/10.1016/j.isci.2023.105945" target="_blank" rel="noopener">
                                Paper</a>
                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="/files/Poster.pdf" target="_blank" rel="noopener">
                                Poster</a>
                        </div>
                    </div>
                    <div class="card-simple">
                        <h3 class="article-title mb-1 mt-3">
                            <a href="">IoT-VR: IoT Simulation Platform for Cost-free Deployment and Monitoring of IoT Networks</a>
                        </h3>
                        <div class="article-metadata">
                            <!-- <div>
                                <span><strong>Sadman Sakib</strong></span>, <span><a href="https://caesar.web.engr.illinois.edu/" style="color:inherit"><u>Dr. Matthew Caesar</u></a></span>, <span><a href="https://cse.buet.ac.bd/faculty/facdetail.php?id=miisakib" style="color:inherit"><u>Md Iftekharul Islam Sakib</u></a></span>, <span>IoT-VR Team</span>
                            </div> -->
                            <span class="article-date">
                                Jan, 2020 - Feb, 2022
                            </span>
                            <span class="middot-divider"></span>
                            <span class="pub-publication">
                            </span>
                        </div>
                        <div class="article-style">
                            <p>
                                Available IoT simulation platforms provide a simple user interface to simulate IoT components, failing to provide a real-world-like environment. 
                                They also do not support recent technologies, such as edge computing. We addressed this gap by developing an IoT simulation platform with a virtual world where users can deploy and monitor IoT networks. 
                                So, we simulated attributes of both real-world environment and IoT devices. We have developed simulation of various IoT devices and sensors, such as Arduino, GPS and ultrasonic sensor. 
                                Our software was used in the course UIUC CS 437 Internet of Things.  
                            </p>
                        </div>
                        <div class="btn-links">
                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://iot.actuallycolab.com/" target="_blank" rel="noopener">
                                Website</a>
                        </div>
                    </div>
                    <div class="card-simple">
                        <h3 class="article-title mb-1 mt-3">
                            <a href="">Transparent Third-party Authentication and Application Mobility in Federated Edge Computing</a>
                        </h3>
                        <div class="article-metadata">
                            <!-- <div>
                                <span><strong>Sadman Sakib</strong></span>, <span><a href="http://speed.cis.nctu.edu.tw/~ydlin/" style="color:inherit"><u>Dr. Ying-Dar Lin</u></a></span>, <span><a href="http://mshohrabhossain.buet.ac.bd/" style="color:inherit"><u>Dr. Md Shohrab Hossain</u></a></span>, <span>Asad Ali</span>, <span>Samin Rahman Khan</span>, <span>Tushin Mollick</span> 
                            </div> -->
                            <span class="article-date">
                                Feb, 2020 - Oct, 2021
                            </span>
                        </div>
                        <div class="article-style">
                            <p> Federating edge providers expands capability, capacity, and coverage but gives rise to two issues—authentication and application mobility—for
                                continuous service during roaming. We proposed a mechanism that uses a transparent proxy to transfer the
                                information of both authentication and application state across edge providers to resolve these issues. We optimized this mechanism by prefetching information and reusing tokens stored in UE. 
                                We designed solution architecture and protocols for two scenarios: Inter-MEC federation and MEC-fog federation. Our methods reduced service interruption latency by 73.6%-84.6% compared to cloud-based handover.  
                                </p>
                        </div>
                        <div class="btn-links">
                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://ieeexplore.ieee.org/document/9743909" target="_blank" rel="noopener">
                                Paper 1</a>
                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://ieeexplore.ieee.org/document/9838904" target="_blank" rel="noopener">
                                Paper 2</a>
                        </div>
                        <!-- <div class="card-simple">
                            <span class="d-none default-project-filter">*</span>
                            <div class="project-toolbar">
                                <div class="project-filters">
                                    <div class="btn-toolbar">
                                        <div class="btn-group flex-wrap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="isotope projects-container js-layout-masonry " style="position: relative; height: 343.8px;">
                                <div class="project-card project-item isotope-item js-id-informality" style="position: absolute; left: 0px; top: 0px;">
                                    <iframe src="https://drive.google.com/file/d/1VIG_rHyxI6xnXM_rGvWjZbjDTrM3PYue/preview" width="700" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="project-card project-item isotope-item js-id-social-media" style="position: absolute; left: 0px; top: 0px;">
                                    <iframe width="700" height="315" src="https://www.youtube.com/embed/vD7dg_3NG_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="project-card project-item isotope-item js-id-development" style="position: absolute; left: 0px; top: 0px;">
                                    <iframe width="700" height="315 " src="https://www.youtube.com/embed/-EBv6OUGs28" frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen=" "></iframe>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
        </div>
    </section>
    <section id="papers" class="home-section wg-pages   ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 section-heading">
                    <h1>Papers</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="pub-list-item" style="margin-bottom: 1rem">
                        <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                        <span class="article-metadata li-cite-author">             
                            <span>Asad Ali</span>, <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>Md. Shohrab Hossain</span> and <span>Ying-Dar Lin</span>
                        </span>
                        <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a>. <i>In IEEE Access.</i>
                    </div>
                    <div class="pub-list-item" style="margin-bottom: 1rem">
                        <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                        <span class="article-metadata li-cite-author">             
                        <span>Asad Ali</span>, <span>Tushin Mallick</span>, <span><strong>Sadman Sakib</strong></span>, <span>Md. Shohrab Hossain</span> and <span>Ying-Dar Lin</span>
                        </span>
                        <a href="https://ieeexplore.ieee.org/document/9838904">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a>. <i>In IEEE International Conference on Communications 2022.</i> 
                    </div>
                    <div class="pub-list-item" style="margin-bottom: 1rem">
                        <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                        <span class="article-metadata li-cite-author">             
                        <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>M. Sohel Rahman</span>, <span>Md. Abul Hassan Samee</span>
                        </span>
                        <a href="https://doi.org/10.1016/j.isci.2023.105945">DeepBend: An Interpretable Model of DNA Bendability</a>. <i>In Cell iScience.</i>
                    </div>
                    <div class="pub-list-item" style="margin-bottom: 1rem">
                        <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                        <span class="article-metadata li-cite-author">             
                        <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>M. Sohel Rahman</span>, <span>Md. Abul Hassan Samee</span>
                        </span>
                        <a href="/files/Poster.pdf">A deep learning model reveals sequence signatures associated with DNA bendability and links bendability-altering mutations with aberrant chromosomal conformation</a>. <i> In Conference on Genome Informatics, Cold Spring Harbor Laboratory, 2021.</i>
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
        </div>
    </section>
    <section id="projects" class="home-section wg-experience   ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 section-heading">
                    <h1>Personal Projects</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row experience">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col ">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <div class="m-2">
                                <span class="badge badge-pill border ">&nbsp;</span>
                            </div>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title exp-title text-muted mt-0 mb-1">Operating Systems Projects</h4>
                                    <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                    <div class="text-muted exp-meta">
                                        Sep 2022 - Dec 2022
                                        <span class="middot-divider"></span>                                       
                                        <p>
                                            Projects for UW-Madison CS537 course- adding syscall, threading and scheduling in XV6, implementing Linux shell, implementing parallel sort and developing a distributed file system. (C, Shell, x86 assembly)
                                            <a href="https://github.com/sadmankiba/Intro-to-OS-Assignments">[Code]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row experience">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <div class="m-2">
                                <span class="badge badge-pill border ">&nbsp;</span>
                            </div>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title exp-title text-muted mt-0 mb-1">Computer Architecture Projects</h4>
                                    <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                    <div class="text-muted exp-meta">
                                        Sep 2022 - Dec 2022
                                        <span class="middot-divider"></span>                                       
                                        <p>
                                            Projects for UW-Madison CS552 course- designing higher-level logical components such as demultiplexer, carry lookahead adder and register from basic gates, and finally designing a five-stage pipelined processor with hazard avoidance and optimizations. (Verilog)
                                            <a href="https://github.com/sadmankiba/Intro-to-Arch-Assignments">[Code]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row experience">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <div class="m-2">
                                <span class="badge badge-pill border ">&nbsp;</span>
                            </div>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title exp-title text-muted mt-0 mb-1">Networking Projects</h4>
                                    <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                    <div class="text-muted exp-meta">
                                        Jan 2023 - May 2023
                                        <span class="middot-divider"></span>                                       
                                        <p>
                                            Projects for UW-Madison CS740 course- implementing TCP in DPDK, CONGA congestion control in Htsim, and measuring performance of storage and network traffic during contention in physical servers. (DPDK, Htsim, SPDK, Fio, Iperf, Sysstat)
                                            <a href="https://github.com/sadmankiba/Nw-Adv-Projects">[Code]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row experience">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <div class="m-2">
                                <span class="badge badge-pill border ">&nbsp;</span>
                            </div>
                            <div class="row h-50">
                                <div class="col ">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title exp-title text-muted mt-0 mb-1">Detecting and Tracing Objects with Microcontrollers and Sensors</h4>
                                    <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                    <div class="text-muted exp-meta">
                                        Aug 2019 – Dec 2019
                                        <span class="middot-divider"></span>                                       
                                        <p>
                                            A small-scale radar created with microcontrollers and sonar sensors. The microcontrollers were connected with a smartphone using Wi-Fi module to visualize data in a smartphone application.
                                            <a href="youtu.be/v-IjqOj-CHs">[Demo]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
        </div>
    </section>
    <section id="awards" class="home-section wg-pages   ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 section-heading">
                    <h1>Awards</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="fa-ul mb-0">
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i> Dean's List Scholarship (BUET), 2018-2022
                        </li>
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i> University Merit Scholarship (BUET), 2017-2022
                        </li>
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i> Winner in National Undergraduate Mathematics Olympiad, 2018
                        </li>
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i> Honorable Mention in Notre Dame College, 2016
                        </li>
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i> National Winner in Bangladesh Mathematical Olympiad, 2014-16
                        </li>
                    </ul>
                </div>
            </div>
            </br>
            </br>
            </br>
        </div>
    </section>
    <section id="contact" class="home-section wg-contact   ">
        <div class="container">
            <div class="row contact-widget">
                <div class="col-12 col-lg-4 section-heading">
                    <h1>Contact</h1>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                            <span id="person-email "><a href="mailto:sadmankiba@cs.wisc.edu">sadmankiba@cs.wisc.edu</a></span>
                        </li>
                        <li>
                            <i class="fa-li fab fa-twitter fa-2x " aria-hidden="true "></i>
                            <a href="https://twitter.com/sadmankiba" target="_blank " rel="noopener ">DM Me</a>
                        </li>
                        <li>
                            <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                            <span id="person-address ">UW-Madison, Department of Computer Sciences, 1210 W. Dayton Street, Madison, WI 53706</span>
                        </li>
                    </ul>
                    <div class="d-none">
                        <input id="map-provider" value="2">
                        <input id="map-lat" value="43.0711999">
                        <input id="map-lng" value="-89.4065713">
                        <input id="map-dir" value="UW-Madison, Department of Computer Sciences">
                        <input id="map-zoom" value="15">
                        <input id="map-api-key " value="">
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>
    {% include tail-scripts.html %}
    {% include footer.html %}
</body>
</html>