---
title: How Does A NIC Work?
---
<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body>
        {% include navigation.html %}
        <br><br>
        <div class="container">
        <h3>Notes</h3>
        <ul>
            <!-- <li><a href="/notes/how-does-a-nic-work">How Does A NIC Work?</a></li> -->
            <li><a href="/note/ctrl-expl-ai">Controllable and Explainable AI</a></li>
        </ul>
        </div>
        {% include tail-scripts.html %}
        {% include footer.html %}
        
    </body>
</html>