<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <img class="avatar avatar-circle" src="/admin/Sadman-Avatar.png" alt="Avatar">
                    <div class="portrait-title">
                        <h2>Sadman Sakib</h2>
                        <h3>Graduate Student in Computer Sciences</h3>
                        <h3>
                            <a href="https://www.wisc.edu/" target="_blank" rel="noopener">
                                <span>University of Wisconsin-Madison</span>
                            </a>
                        </h3>
                    </div>
                    <ul class="network-icon" aria-hidden="true">
                        <li>
                            <a href="mailto:sadmankiba@cs.wisc.edu">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/sadmankiba" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sadmankiba/" target="_blank" rel="noopener">
                                <i class="fab fa-github big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=vrt0ghkAAAAJ" target="_blank" rel="noopener">
                                <i class="ai ai-google-scholar big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/sadmankiba" target="_blank" rel="noopener">
                                <i class="fab fa-twitter big-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- <p> I am enthusiastic about ... and my interest lies broadly in:</p>
                <blockquote>
                    <ul>
                        <li>
                            <p style="font-variant:small-caps"><b>...</b></p>
                        </li>
                        <li>
                            <p style="font-variant:small-caps"><b></b>...</p>
                        </li>
                    </ul>
                </blockquote> -->
                <p>Hi! I am Sadman. I am a second-year MS student at the Department of Computer Sciences in University of Wisconsin-Madison. I enjoy working in computer systems, both lower-level systems (hardware-software interface, networking, storage, GPU, virtualization) and higher-level systems (parallel systems, distributed systems, data systems). 
                    In Summer 2023, I completed internship at <a href="https://www.hpe.com/us/en/compute/hpc/slingshot-interconnect.html">HPE Slingshot Interconnect</a> where I worked on Linux device drivers for HPC networking. Before coming to UW-Madison, I obtained my undergraduate major in Computer Science from Bangladesh University of Engineering and Technology. </p>
                <p>In my free time, I can be found taking exercise, travelling places, reading non-fiction, cooking dishes and listening to music.</p>
                
                <div class="row">
                    <div class="col-md-5">
                        <h3>Interests</h3>
                        <ul class="ul-interests">
                            <li style="text-align: left;">Computer Systems</li>
                            <li style="text-align: left;">Cloud Infrastructure</li>
                            <li style="text-align: left;">Data Systems</li>
                            <li style="text-align: left;">High Performance Computing</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h3>Education</h3>
                        <ul class="ul-edu fa-ul">
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Masters of Science in Computer Sciences (2022 - 2024)</p>
                                    <p class="institution">University of Wisconsin-Madison</p>
                                </div>
                            </li>
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Bachelor of Science in Computer Science (2017 - 2022)</p>
                                    <p class="institution">Bangladesh University of Engineering and Technology</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h3>Recent News</h3>
                        <ul>
                            <li>
                                <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a> has been accepted to IEEE Access!
                            </li>
                            <li>
                                <a href="files/edge_fog_accepted.pdf">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a> has been accepted to IEEE ICC 2022!
                            </li>
                        </ul>
                    </div>

                </div> -->
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</section>