<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <img class="avatar avatar-circle" src="/admin/Sadman-Avatar-2025.jpg" alt="Avatar">
                    <div class="portrait-title">
                        <h2>Sadman Sakib</h2>
                        <h3>PhD Student</h3>
                        <h3>
                            <a href="https://uci.edu/" target="_blank" rel="noopener">
                                <span>University of California, Irvine</span>
                            </a>
                        </h3>
                    </div>
                    <ul class="network-icon" aria-hidden="true">
                        <li>
                            <a href="mailto:ssakib@uci.edu">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/sadmankiba" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sadmankiba/" target="_blank" rel="noopener">
                                <i class="fab fa-github big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=vrt0ghkAAAAJ" target="_blank" rel="noopener">
                                <i class="ai ai-google-scholar big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/sadmankiba" target="_blank" rel="noopener">
                                <i class="fab fa-twitter big-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- <p> I am enthusiastic about ... and my interest lies broadly in:</p>
                <blockquote>
                    <ul>
                        <li>
                            <p style="font-variant:small-caps"><b>...</b></p>
                        </li>
                        <li>
                            <p style="font-variant:small-caps"><b></b>...</p>
                        </li>
                    </ul>
                </blockquote> -->
                <p>Hi! I am Sadman. I am a first-year PhD student in the <a href="https://robotics.eng.uci.edu/">Center for Resilient Autonomous Systems (RISE)</a> at UCI, advised by <a href="https://engineering.uci.edu/users/mohammad-al-faruque">Professor Mohammad Abdullah Al Faruque</a>.  I got my Masters from University of Wisconsin-Madison in 2024. My research focus is in autonomous systems and AI for robotics. I am currently working on adapting vision-language-action models for planning and reasoning in autonomous systems and robotics.    
                    . In my recent projects, I have worked on 
                    <a href="https://github.com/sadmankiba/Multimodal-Alignment">multi-modal models</a>, <a href="https://github.com/sadmankiba/language-models">
                    text analysis and generation</a>, <a href="https://github.com/sadmankiba/vision-models">image analysis and generation</a>, 
                    and <a href="https://github.com/sadmankiba/hybrid-model">state-space models</a>.  
                    <!--
                    <a href="https://github.com/sadmankiba/parallel-computing">GPU/CUDA</a>, <a href="https://github.com/sadmankiba/datasys-projects">Data Systems</a>, <a href="https://github.com/sadmankiba/FlexBSO">SmartNIC</a>, <a href="https://github.com/sadmankiba/pipelined-processor">Processor</a> and <a href="https://github.com/sadmankiba/os-projects">OS</a>.  
                    I enjoy working in Computer Systems, both Lower-Level Systems (Hardware-Software Interface, Networking, Storage, GPU, Virtualization) and Higher-Level Systems (Parallel Systems, Distributed Systems, Data Systems, AI Systems).-->
                    
                </p>
                <p>
                    Before starting my PhD, I worked briefly at <a href="https://youtu.be/5gOOtFySrqA?si=w6SZxcm-v_uVSkVm">Meta</a> focusing on networking for AI training/inferenece. I also had the opporunity to intern at 
                    <a href="https://www.hpe.com/us/en/compute/hpc/slingshot-interconnect.html">
                        HPE</a> in Summer 2023 
                    and  at <a href="https://youtu.be/5gOOtFySrqA?si=w6SZxcm-v_uVSkVm">
                    Meta</a> in Summer 2024, working on AI/HPC systems.   
                    Before coming to UW-Madison, I obtained my undergraduate major in Computer Science from Bangladesh University of Engineering and Technology and my undergraduate thesis was on <a href="https://doi.org/10.1016/j.isci.2023.105945">Interpretable CNN</a> . 
                </p>
                
                <!-- <p>In my free time, I can be found taking exercise, traveling places, reading non-fiction, cooking dishes and listening to music.</p> -->

                <p> <b>For Prospective Students</b>: The <a href="https://robotics.eng.uci.edu/">RISE Center</a> at UCI is growing and looking for motivated PhD/Masters/Undergraduate students to join our research group. The center is equipped with multiple legged, wheeled and aerial robots, top-notch computing resources, and fosters a collaborative research environment. If you are interested in working with us, please feel free to <a href="mailto:ssakib@uci.edu">email me</a>, Professor Faruque or other faculty members of the RISE center.</p>
                
                <div class="row">
                    <div class="col-md-5">
                        <h3>Interests</h3>
                        <ul class="ul-interests">
                            <li style="text-align: left;">Deep Learning</li>
                            <li style="text-align: left;">Autonomous Systems</li>
                            <li style="text-align: left;">AI for Robotics</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h3>Education</h3>
                        <ul class="ul-edu fa-ul">
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Doctor of Philosophy in Computer Engineering (2025 - 2029)</p>
                                    <p class="institution">University of California, Irvine</p>
                                </div>
                            </li>
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Masters of Science in Computer Sciences (2022 - 2024)</p>
                                    <p class="institution">University of Wisconsin-Madison</p>
                                </div>
                            </li>
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Bachelor of Science in Computer Science (2017 - 2022)</p>
                                    <p class="institution">Bangladesh University of Engineering and Technology</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h3>Recent News</h3>
                        <ul>
                            <li>
                                <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a> has been accepted to IEEE Access!
                            </li>
                            <li>
                                <a href="files/edge_fog_accepted.pdf">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a> has been accepted to IEEE ICC 2022!
                            </li>
                        </ul>
                    </div>

                </div> -->
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</section>
