<section id="contact" class="home-section wg-contact   ">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:ssakib@uci.edu">ssakib@uci.edu</a></span>
                    </li>
                    <li>
                        <i class="fa-li fab fa-twitter fa-2x " aria-hidden="true "></i>
                        <a href="https://twitter.com/sadmankiba" target="_blank " rel="noopener ">DM Me</a>
                    </li>
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                        <span id="person-address ">5400 Engineering Hall, University of California - Irvine</span>
                    </li>
                </ul>
                <div class="d-none">
                    <input id="map-provider" value="2">
                    <!-- <input id="map-lat" value="33.64367">
                    <input id="map-lng" value="–117.84108"> -->
                    <input id="map-lat" value="33.6436999">
                    <input id="map-lng" value="-117.8412213">
                    <input id="map-dir" value="Engineering Hall, University of California - Irvine">
                    <input id="map-zoom" value="20">
                    <input id="map-api-key " value="">
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>