<section id="coursework" class="home-section wg-coursework">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Coursework</h1>
            </div>
            <div class="col-12 col-lg-8">
                <table>
                    <tr>
                      <th>Course Title</th>
                      <th>Instructor</th>
                      <th>Keywords</th>
                      <th>Projects</th>
                    </tr>
                    <tr>
                      <td>Operating Systems</td>
                      <td>Remzi Arpaci-Dusseau</td>
                      <td>scheduling, virtual memory, concurrency, lock, file system, storage</td>
                      <td>XV6 hacking
                        Linux shell
                        Parallel sort
                        Distributed file system
                        </td>
                    </tr>
                    <tr>
                      <td>Advanced Computer Networks</td>
                      <td>Ming Liu</td>
                      <td>Datacenter transport, Software-defined networking, End-host networking</td>
                      <td>DPDK evaluation
                        Datacenter congestion control</td>
                    </tr>
                    <tr>
                      <td>High-Performance Computing</td>
                      <td>Dan Negrut</td>
                      <td>CUDA parallel programming, GPU architecture, GPU memory, GPU scheduling, OpenMP on multicore, MPI</td>
                      <td>Matrix Multiplication
                            Vector Reduction
                            Stencil operation</td>
                    </tr>
                  </table>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>