<section id="coursework" class="home-section wg-coursework">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Coursework &</h1>
                <h1>Projects</h1>
            </div>
            <div class="col-12 col-lg-8">
                <table>
                    <tr>
                      <th>Course Title</th>
                      <th>Instructor</th>
                      <th>Year</th>
                      <th>Keywords</th>
                      <th>Projects</th>
                    </tr>
                    <tr>
                      <td><a href="https://pdos.csail.mit.edu/6.824/schedule.html">Distributed Systems</a></td>
                      <td><a href="https://people.csail.mit.edu/kaashoek/">Frans Kaashoek</a> 
                          <a href="http://nil.lcs.mit.edu/rtm/">Robert Morris</a></td>
                      <td>2024</td>
                      <td>Fault Tolerance, Consistency, Performance Tradeoff, Distributed Transactions, Concurrency Control, Cache Consistency</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~remzi/Classes/537/Fall2022/">Operating Systems</a></td>
                      <td><a href="https://pages.cs.wisc.edu/~remzi/">Remzi Arpaci-Dusseau</a></td>
                      <td>2022</td>
                      <td>Process Management, Process Scheduling, Virtual Memory, Threads, Locking, File Systems, Logging, Storage</td>
                      <td><a href="https://github.com/sadmankiba/os-projects">XV6, Parallel Sort, Distributed File System</a>
                        </td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/CS740/S23/index.html">Advanced Computer Networks</a></td>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/">Ming Liu</a></td>
                      <td>2023</td>
                      <td>Datacenter Architecture, Flow Scheduling, Routing, Load Balancing, Congestion Control, SDN, Endhost Network</td>
                      <td><a href="https://github.com/sadmankiba/datacenter-networking">
                        DPDK Evaluation, Datacenter Congestion Control, Disaggregated Storage Profiling</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/CS839/F23/syllabus.html">SmartNIC Systems</a></td>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/">Ming Liu</a></td>
                      <td>2023</td>
                      <td>FPGA NIC, SoC NIC, Application Offloading, Caching, Job Scheduling, Load Balancing</td>
                      <td><a href="https://github.com/sadmankiba/FlexBSO">Flexible Block Storage Offload for Datacenters</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~yxy/cs839-f23/index.html">Cloud-native Database</a></td>
                      <td><a href="https://pages.cs.wisc.edu/~yxy/">Xiangyao Yu</a></td>
                      <td>2023</td>
                      <td>Storage Disaggregation, Analytical and Transaction Processing, Serverless, Auto-Scaling, GPU DB, 
                          Memory Disaggregation, RDMA, NIC-assisted DB</td>
                      <td><a href="https://github.com/sadmankiba/Wasm-Pushdown">Evaluation of Wasm for Computation Pushdown in Cloud Database</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~shivaram/cs744-sp24/">Advanced Big Data Systems</a></td>
                      <td><a href="https://shivaram.org/">Shivaram Venkataraman</a></td>
                      <td>2024</td>
                      <td>Big Data Stacks, Scheduling, Resource Management, ML Systems, Batch and Stream Analytics, Graph Processing</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="https://tyler.caraza-harter.com/cs544/f23/schedule.html">Introduction to Big Data Systems</a></td>
                      <td><a href="https://tyler.caraza-harter.com/">Tyler Caraza-Harter</a></td>
                      <td>2023</td>
                      <td>Distributed Filesystem, Distributed Database, Distributed ML, Partitioning, Fault Tolerance, Availability, Streaming</td>
                      <td><a href="https://github.com/sadmankiba/datasys-projects">Distributed Data Processing with Hadoop, Spark and Cassandra</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://phontron.com/class/anlp2024/lectures/">Natural Language Processing</a></td>
                      <td><a href="https://www.phontron.com/">Graham Neubig</a></td>
                      <td>2024</td>
                      <td>Language Modeling, Sequence Encoding, Transformers, Generation Algorithms, RL, RAG, Code Generation, Knowledge-based QA</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="https://papail.io/826">Large-Scale Machine Learning Theory</a></td>
                      <td><a href="https://papail.io/">Dimitris Papailiopoulos</a></td>
                      <td>2024</td>
                      <td>Generalization, Stochastic Methods, Transformers, System Tradeoffs, Distributed Optimization, Federated Learning, Model Compression</td>
                      <td></td>
                    </tr> 
                    <tr>
                      <td><a href="/files/HPC-Schedule.pdf">High-Performance Computing</a></td>
                      <td><a href="https://sbel.wisc.edu/negrut-dan/">Dan Negrut</a></td>
                      <td>2023</td>
                      <td>GPU Architecture, GPU Memory, GPU Scheduling, ILP, Compiler Optimization, CUDA, Multi-core Programming, Supercomputer</td>
                      <td><a href="https://github.com/sadmankiba/parallel-computing">
                        Parallel Computing with CUDA, OpenMP and MPI</a></td>
                    </tr>
                    <tr>
                      <td><a href="files/arch-schedule.pdf">Introduction to Computer Architecture</a></td>
                      <td><a href="https://swamittannu.com/">Swamit Tannu</a></td>
                      <td>2022</td>
                      <td>Processor, Pipelining, Superscalar, MIPS ISA, SIMD, Cache, Memory Hierarchy</td>
                      <td><a href="https://github.com/sadmankiba/pipelined-processor">
                        5-stage Pipelined Processor for MIPS-like ISA</a></td>
                    </tr>
                  </table>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>